<% include ../partials/header.ejs %>

     <main class ="container">
    <div  style="margin-top:150px;vertical-align: middle;text-align:center;font-family:cursive;color:white;font-weight: 400;">
      <h3 class="display-4" style="font-weight:bold;">
      Welcome to <%=title%></h3>
      <h4>The complete list of books can be found here !!!!!</h4>

    </div>
  </main>

<% include ../partials/footer.ejs %>


